<!doctype>

<html>

<head>
    <title>Firma kurierska "Paczuszka"</title>
    <link rel="stylesheet" href="/static/styles/main.css">    
</head>

<header>

    <a href="/"><img src="/static/images/logo.png" alt="logo"></a>
    <nav>
        <ul id="menu">
           	<li id="strona_glowna"><a href="/">Strona główna</a></li>
            <li id="zalgouj_sie"><a href="/sender/login">Moje przesyłki</a></li>
            <li id="rejestracja"><a href="/sender/register">Dodaj przesyłkę</a> </li>
            <li id="rejestracja"><a href="/sender/logout">Wyloguj się</a> </li>
        </ul>
    </nav>
</header>

<body>

    <h1>Twoje przesyłki</h1>
   
   
   
   

    <footer>2020 | <a href="https://github.com/Piotr9923/Projekt_PAMiW">https://github.com/Piotr9923/Projekt_PAMiW</a> |
        <a href='https://dryicons.com/'> Icon by Dryicons </a></footer>



</body>



</html>