<!doctype>

<html>

<head>
    <title>Rejestracja</title>
    <link rel="stylesheet" href="/static/styles/registration.css">
    </link>
    <script src="/static/scripts/registration.js" defer></script>
</head>

<header>
    Piotr Rzewnicki
    <nav>
        <ul id="menu">

            <li id="strona_glowna"><a href="/">Strona główna</a></li>
            <li id="rejestracja"><a href="/sender/sign-up">Rejestracja</a> </li>

        </ul>
    </nav>
</header>

<body>


    <form id="formularz" method="POST" action="https://infinite-hamlet-29399.herokuapp.com/sender/register"
        enctype="multipart/form-data">
        <ul>
            <li>
                <h2> Załóż nowe konto </h2>
            </li>
            <li>Imię: <input type="text" id="firstname" name="firstname" /></input>

                <a href="#" class="tool"
                    tresc="Imię musi zaczynać się z wielkiej litery i składać się co najmniej z 1 małej litery!"><img
                        src="/static/images/help.svg"></a>
            </li>
            <li>
                Nazwisko: <input type="text" id="lastname" name="lastname" /></input>
                <a href="#" class="tool"
                    tresc="Nazwisko musi zaczynać się z wielkiej litery i składać się co najmniej z 1 małej litery!"><img
                        src="/static/images/help.svg"></a>
            </li>
            <li id="sex">
                Płeć: <input type="radio" id="male" name="sex" value="M">Mężczyzna
                <input type="radio" id="female" name="sex" value="F">Kobieta
            </li>
            <li>
                Login: <input type="text" id="login" name="login" /></input>
                <a href="#" class="tool" tresc="Login musi składać się z 3-12 małych liter alfabetu łacińskiego!"><img
                        src="/static/images/help.svg"></a>
            </li>
            <li class="unavailable_login_text" id="login_message">Ten login jest zajęty! Wpisz inną nazwę użytkownika!
            </li>
            <li>
                Hasło: <input type="password" id="password" name="password" /></input>
                <a href="#" class="tool"
                    tresc="Hasło musi składać się z liter alfabetu łacińskiego,zawierać wielką literę i mieć długość co najmniej 8 znaków!"><img
                        src="/static/images/help.svg"></a>
            </li>
            <li>
                Powtórz hasło: <input type="password" id="password_again" /></input>
            </li>
            <li>
                Zdjęcie: <input type="file" id="photo" name="photo" accept=".png, .jpg" /></input>
            </li>
            <li><input type="submit" id="button" value="Zarejestruj się" /></input></li>
        </ul>
    </form>

    <footer>2020 | <a href="https://github.com/Piotr9923/Projekt_PAMiW">https://github.com/Piotr9923/Projekt_PAMiW</a> |
        <a href='https://dryicons.com/'> Icon by Dryicons </a></footer>

</body>


</html>