<!doctype>
<html>
	<head>
		<title>Rejestracja</title>
		<link rel="stylesheet" href="/static/main.css"></link>
	</head>
	
	<header>
  	<a href=""><img src="logo.png"></a>
  	<nav>
    <ul id="menu">
    
      <li><a href="/">Strona główna</a></li>
      <li><a href="/sender/sign-up">Rejestracja</a> </li>

    </ul>
  	</nav>
	</header>

	<body>

	<form>
		<ul>
		<li id="name">
		<input type="text" name="imie" placeholder="Nazywam się"></input>
		</li>
		<li id="email">
		<input type="text" name="e-mail" placeholder="Adres e-mail"></input>
		</li>
		<li><input type="submit" value="Zapisz do newslettera"></input></li>
		</ul>
	</form>
	

	</body>

</html>
