html{
	background-color: blanchedalmond;
}

header{

	background-color: green;
}

body{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;

}

h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    color: black;
    background-color: greenyellow;
}

section{
	margin-left: 20px;
	margin-right: 20px;
}

img{
	width: 100%;
	height: 150px;
}

p {
	color: red;
	text-align: center;
}

nav ul{
	width: 50%;
	background: green;
	overflow: auto;
	list-style: none;
	max-width: 50%;
}

ul #menu {
	padding: 0;
	margin: 0 0 0 150px;
	list-style: none;
}

nav a{
	width: 150px;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	font-family: Arial;
	color: white;
	text-align: center;
}

nav ul li{
	float: left;
}

	
form ul li{
	list-style: none;
	float: inherit;
}

 table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  background-color: wheat;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

#labels{
	width: 70%;
	margin: auto;
	list-style-type: none;
}

tr.label{
	background-color: yellowgreen;
	width: 100%;
	border-style: hidden;
}

tr.empty{
	background-color: blanchedalmond;
	width: 100%;
	height: 20px;
	border-style: hidden;
	
}


th.id{
	width: 70%;
	border-color: yellowgreen;
}

th.more{
	width: 20%;
	border-color: yellowgreen;
}

.flashes{
	text-align: center;
	background-color: red;
	list-style-type: none;
	width: 420px;
	margin: auto;
}

.center_text{
text-align: center;
}

.list_none{
list-style-type: none;
}

footer{
	margin-top: 50px;
	position: inherit;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 25px;
	font-size: 15px;
}


	