html{
	background-color: blanchedalmond;
}

header{
	background-color: green;
}

body{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
}

nav ul{
	width: 50%;
	background: green;
	overflow: auto;
	list-style: none;
}

ul #menu {
	padding: 0;
	margin: 0 0 0 150px;
	list-style: none;
}


nav a{
	width: 150px;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	font-family: Arial;
	color: white;
	text-align: center;
}


img{

	width: 25px;
	height: 25px;
}

nav ul li{
	float: left;
}

form{

	margin: auto;
	width: 420px;
	background-color: greenyellow;
	position: static;
}

input[type=submit]{

  background-color: green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
}

.disabled_button[type=submit]{
	background-color: #c0c0c0;
}

	
form ul li{
	list-style: none;
	float: inherit;
	margin-top: 1px;
}

.input_field{
	margin-bottom: 15px;
}

a.tool {
    position: relative;
} 


a.tool:hover::before {
    opacity: 1;
    bottom: 0px;
}

a.tool::before {
    content: attr(tresc);
    font-size: 12px;
    position: absolute;
    z-index: 999;
    white-space: nowrap;
    bottom: 9999px;
    left: 50%;
    background: gray;
    color: #fff;
    padding: 4px 5px;
    opacity: 0; 
 
    -webkit-border-radius: 3px; 
    -o-border-radius: 3px;
    -moz-border-radius: 3px; 
    border-radius: 3px;
} 

.logo_image{
	width: 100%;
	height: 150px;
}
 

footer{
	margin-top: 50px;
	position: inherit;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 25px;
	font-size: 15px;
}

.flashes{
	text-align: center;
	background-color: red;
	list-style-type: none;
	width: 420px;
	margin: auto;
}


.incorrect_field{
	color: red;
}

.unavailable_login_text{
	font-size: 12px;
	color:red;
}

.unavailable_login_hidden_message{
	visibility: hidden;
}
