html{
	background-color: #FFE7E7;
}

p {
	color: red;
	text-align: center;
}

nav ul{
	width: 97%;
	background: green;
	overflow: auto;
	list-style: none;
}

ul #menu {
	padding: 0;
	margin: 0 0 0 150px;
	list-style: none;
}

nav a{
	width: 150px;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	font-family: Arial;
	color: white;
	text-align: center;
}

nav ul li{
	float: left;
}

	
form ul li{
	list-style: none;
	float: inherit;
	}
	
	form ul li #haslo #powtorz_haslo{
			
	}
	